@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-color: $color-main-green;
  }
  20% {
    border-color: darken($color-main-green, 10%);
  }

  40% {
    border-color: $color-white;
  }

  60% {
    border-color: darken($color-main-green, 10%);
  }

  80% {
    border-color: $color-main-green;
  }
  100% {
    transform: rotate(360deg);
  }
}
